<div id="sidebar_article" class="col-xs-12 col-sm-12 col-md-12 sidebar-offcanvas">
  <div class="sidebar-content">
  

    <!--img class="sidebar-image" src="{{ .Site.BaseURL }}/img/about.jpg"-->
    
    <h1>Mar Pérez {{ partial "social_buttons_in_sidebar.html" . }}</h1>
    

    {{ range .Site.Params.sidebarAbout }}
    <p class="sidebar-p">{{ . | safeHTML }}</p>
    {{ end }}
    

    <div class="copyright">
      <p class="credit">
        {{ with .Site.Params.copyright }}
          {{ . | safeHTML }} 
        {{ end }}
      <!--  {{ partial "attribution.html" . }}-->
      </p>
    </div>
  </div>
</div>
